@charset "UTF-8";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
}

/* Mobile design first */


/* Small devices (tablets - 768px and up) */
@media (min-width: 550px) {
  .wrapper {
    width: 97%;
    max-width: 767px;
  }
}

/* Large devices (desktops - 1200px and up) */
@media (min-width: 850px) {
  .wrapper {
    width: 97%;
    max-width: 1200px;
    float: none;
  }
}