body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue{
  background-color: #4682B4;
}

.fixediv {
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


.searchBar {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: inherit;
}
.input {
  margin-left: 8;
  flex: 1;
}
@media only screen and (min-device-width: 354px) and (max-device-height: 813px) {
  .searchBar {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 325px;
  }
}
